[flake8]
exclude = .git,__pycache__
max-line-length = 135
extend-ignore =
  I
  N
  B001
  B002
  B003
  B004
  B005
  B007
  B008
  B009
  B010
  B011
  B012
  B013
  B014
  B015
  B016
  B017
; avoid-escape = no
; inline-quotes = "
